In [6]:
Create a Empty Series

In [7]:
import pandas as pd

In [8]:
s=pd.Series()

C:\Users\ssmad\AppData\Local\Temp/ipykernel_13584/3677558548.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [9]:
print(s)

Series([], dtype: float64)

In [ ]:
Create a Series from ndarray

In [10]:
import pandas as pd

In [11]:
import numpy as np

In [13]:
data=np.array(['a','b','c','d'])

In [16]:
s=pd.Series(data)

In [17]:
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
Create a Series from dict

In [18]:
import pandas as pd

In [ ]:
import numpy as np

In [20]:
data={'a':0,'b':1,'c':2.}

In [21]:
s=pd.Series(data)

In [22]:
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
Accessing Data from Series with position

In [23]:
import pandas as pd

In [24]:
pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
print(s[0])

0.0

In [25]:
#retriving single element
print(s['a'])

0.0

In [ ]:
Create an Empty Dataframe

In [28]:
import pandas as pd

In [29]:
df=pd.DataFrame()

In [30]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
Create a DataFrame from dictof ndarray

In [31]:
import pandas as pd

In [36]:
data={'Name':['Tom','Jack','Steve'],'Age':[28,34,29]}

In [37]:
df=pd.DataFrame(data)

In [38]:
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29

In [ ]:
Create a Dataframe from list

In [ ]:
import pandas as pd

In [2]:
data=[['Alex',10],['Bob',12],['Clarke',13]]

In [3]:
df=pd.DataFrame(data,columns=['Name','Age'])

In [4]:
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:
Column Selection

In [39]:
import pandas as pd

In [41]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

In [43]:
df=pd.DataFrame(d)

In [44]:
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
Row selection by label

In [45]:
import pandas as pd

In [47]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

In [48]:
df=pd.DataFrame(d)

In [49]:
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [51]:
#selection by integer
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [52]:
#slice Rows
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [ ]:
Deletion of row

In [55]:
d1=pd.DataFrame([[1,2],[3,5]],columns=['a','b'])

In [59]:
d2=pd.DataFrame([[9,2],[6,7]],columns=['c','d'])

In [60]:
d1=d1.append(d2)

In [61]:
d1=d1.drop(0)

In [62]:
print(d1)

   c  d
1  6  7
1  6  7